body {
    background: linear-gradient(90deg, #2F303A 0%, #161C59 100%);
    font-family: 'Major Mono Display';
    color: #ffffff;

}

.center {
    text-align: center;
}

.header {
    font-size: 60px;
    padding-top: 30px;
    position: relative;
}
.header > ul > li {
    display: inline-block;
    padding: 3%;
}
.nav {
    font-size: 30px;
    text-align: right;
    padding: 3%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

a, a:active, a:visited {
    color: #d1cfcf;
    text-decoration: none;
    font-weight: 30;
    padding: 3%;
}


a:hover {
    color: #ffffff;
}

.nav > a >img{
    height: 50px;
    width: 50px;
    float: left;
    margin-bottom: 20px;
    margin-top: -10px;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: justify;
    font-size: large;

}

h2 {
    font-weight: 400;
}

.lennuk {
    position: absolute;
    left: 62%;
    bottom: 38%;
    width: 400px;
    height: 400px;
}


